/*
* VOILET: #6600CC
* DARK: #282c34;
* LIGHT-BLUE: #61dafb;
* SILVER: #E6E8FA;
* steelblue
* cadetblue
*
*/

*{
  /* background-color: #282c34; */
  background-color: #FFFFFF;
  

}
.App {
  text-align: center;
  /* background-color: #282c34; */
  background-color: #FFFFFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  background-color: #282c34;
  background-color: #E6E8FA;
   background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIklEQVQoU2NkIBIwEqmOYTApdG3a8n93nQ+GkwaTG3GFKwDubwQL+11xkgAAAABJRU5ErkJggg==
   ) repeat; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  /* background-color:#282c34; */
  /* background-color: midnightblue; */
  /* background-color:steelblue */
  /* background-color:cornsilk; */
}
em>u>a{
  color: steelblue;
}
.App-link {
  color: steelblue;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/**custom css*/
.center-box{
  
}
.box{
  /* display: flex; */
  /* justify-content: space-; */
  /* color: ; */
  background-color: white;
  padding: 25px;
  border: 1px solid steelblue;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 10px steelblue;
  min-width: 600px;
  max-width: 750px;
  margin-bottom: 2%;
}
#myname{
  color: black;
  padding: 5px 10px;
}
.myimage_myname{
  display: flex;
  justify-content: space-around;
}

.myimage {
  height: 40vmin;
  pointer-events: none;
  /* border: 1px solid white; */
  box-shadow:  -2px -2px steelblue;
  border-radius: 10000px;
  height: 150px;
}

.socials{
  margin-top: 3%;
  text-align: right;
  text-decoration: none;
}
.socials-logo{
  color:white;
  height:50px;
}

/*
* nav
*/
.nav-link {
  cursor: pointer;
  color:steelblue;
  text-decoration: underline;
}
.nav-box{
  position: absolute;
  top:0;
  
  display: flex;
  justify-content: space-around;
  min-width: 500px;
  margin-bottom: 10px;
}

/*
*work heading
*/

.work-box{
  /* display: flex; */
  /* justify-content: space-; */
  /* color: ; */
  background-color: white;
  padding: 25px;
  border: 1px solid steelblue;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 10px steelblue;
  max-width: 750px;
  margin-bottom: 2%;
  margin-top: 50px;
}

.work-heading{
  color: steelblue;
}
.work-desc{
  font-size: 0.55em;
}

/**/

/*
* Custom scrollbar
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: steelblue; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: steelblue; 
}


h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.00em;
  margin-block-end: 2.00em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
p {
  display: block;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}





/*media**/
 @media (max-width: 800px) {
   .nav-box{
  position: absolute;
  top:0;
  
  display: flex;
  justify-content: space-around;
  min-width: 0px;
  margin-bottom: 10px;
}
.nav-link{
  margin: 0px 12px;
}
.box{
  /* display: flex; */
  /* justify-content: space-; */
  /* color: ; */
  background-color: white;
  padding: 25px;
  border: 1px solid steelblue;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 10px steelblue;
  min-width: 0px;
  max-width: 750px;
  margin-bottom: 2%;
}
.myimage_myname{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.myimage {
  height: 40vmin;
  pointer-events: none;
  /* border: 1px solid white; */
  box-shadow: 3px 3px steelblue;
  border-radius: 10000px;
  height: 150px;
}
.socials{
  margin-top: 3%;
  text-align: center;
  text-decoration: none;
}
.socials-logo{
  color:white;
  height:30px;
}
#myname{
  color: black;
  padding: 3px 10px;
}

  /* .box{

  }
  .myimage_myname{
    display: flex;
    flex-direction: column;
  } */
} 